body {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color:rgb(231, 236, 238);
  }
  
  input{
    width:10%;
  }
 h3{
   text-align: center;
   color: blue;
 }
  
  .category{
    border:3px solid rgb(139, 138, 138);
    display:flex;
    align-items:stretch;             
    padding-right:40px;
}
.blacklist{
  border:3px solid rgb(139, 138, 138);
}
.parts{
  border:3px solid rgb(139, 138, 138);
  
}
.info{
  border:3px solid rgb(139, 138, 138);
  display:flex;
  align-items:stretch;
  justify-content: center;
  padding-left:10px;
  
}
#query, #amount, #language{
  width:100px;
}
.buttons{
  border: 3px solid pink;
  display:flex;
  align-items:stretch; 
  justify-content: center;
}
#btn{
background-color:rgb(12, 1, 37);
margin-left:350px;
height:8vh;
color:white;
}
.container{
    border:3px solid red;
  }

#reload{
  background-color:rgb(12, 1, 37);
  height:8vh;
  color:white;
  font-weight:bold;
  
}
  #buttonAccordion {
    background-color: rgb(12, 3, 59);
    color: rgb(240, 237, 237);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active {
    background-color: #ccc;
  }
  
  #buttonAccordion:hover {
    background-color: rgb(170, 167, 167);
  }
  
  div {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  }

  .hide{
      display:none;
  }

 